@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply hover:cursor-pointer hover:underline hover:decoration-2;
}

code {
  @apply rounded-md bg-gray-200 p-1;
}

.trunc-md {
  max-width: 65ch;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
